
<form action='/' method="POST">

  <label for="team_name">Name</label>
  <input type="text" id="team_name" name="team[name]"></input>
  <label for="team_motto">Motto</label>
  <input type="text" id="team_motto" name="team[motto]"></input>

  <label for="member1_name">Name</label>
  <input type="text" id="member1_name" name="member1[name]"></input>
  <label for="member1_power">Power</label>
  <input type="text" id="member1_power" name="member1[power]"></input>
  <label for="member1_bio">Bio</label>
  <input type="text" id="member1_bio" name="member1[bio]"></input>


</form>
