
<form action='/' method="POST">

  <label for="team_name">Name</label>
  <input type="text" id="team_name" name="team[name]"></input>
  <label for="team_motto">Motto</label>
  <input type="text" id="team_motto" name="team[motto]"></input>

  name
  power
  bio
</form>
