
<h1>Create a Team and Heroes!</h1>
<form action='/teams' method="POST">

  Team Name: <input type="text" name="team[name]"></input>
  Team Motto: <input type="text" name="team[motto]"></input>

  Hero's Name: <input type="text" name="team[members[][name]"></input>
  Hero's Power: <input type="text" name="team[members[][power]"></input>
  Hero's Biography: <input type="text" name="team[members[][bio]"></input>


  Hero's Name: <input type="text" name="team[members][][name]"></input>
  Hero's Power: <input type="text" name="team[members][][power]"></input>
  Hero's Biography: <input type="text" name="team[members][][bio]"></input>


  Hero's Name: <input type="text" name="team[members][][name]"></input>
  Hero's Power: <input type="text" name="team[members][][power]"></input>
  Hero's Biography: <input type="text" name=team["members][][bio]"></input>3

  <button id ="submit" type="submit>Submit</button>
</form>
